<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R_SYS | Registro: Cargo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div>
        <div>
            <h1>Registrar novo cargo</h1>
            <form action="{{ url_for('criar_cargo') }}" method="post" class="form">
                <label for="nome">Nome do cargo:</label>
                <input type="text" id="nome" name="nome" required placeholder="Insira o novo cargo" ><br><br>

                <label for="id_setor">Setor:</label>
                <select id="id_setor" name="id_setor" required>
                    {% for setor in setores %}
                    <option value="{{ setor[0] }}">{{ setor[1] }}</option>
                    {% endfor %}
                </select><br><br>
                <button type="submit">Confirmar registro</button>
            </form>
            <div>
                <a href="/"><button>Página Inicial</button></a>
            </div>
        </div>
    </div>

</body>